.wrapper
  = render "/layouts/signup-header-step4"
  .signup-done
    .signup-done__wrapper
      .signup-done__wrapper__title
        会員登録完了
      .signup-done__wrapper__content
        .signup-done__wrapper__content__comment
          %span ありがとうございます。
          %br 会員登録が完了しました。
          = link_to root_path, data: {"turbolinks" => false}, class:"signup-done__wrapper__content__comment__btn" do
            interactionをはじめる