.wrapper
  = render "/layouts/signup-header"
  .signup-index
    .signup-index__wrapper
      .signup-index__wrapper__content
        まずはユーザー登録をお願いします
      = link_to registration_signup_index_path, class: "signup-index__wrapper__link" do
        ユーザー登録する