.accounts {
  background-color: turquoise;
  padding-top: 40px;
  padding-bottom: 140px;
  height: 100vh;
  .accounts-edit {
    width: 690px;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    background-color: skyblue;
    &__title {
      padding: 32px 16px;
      font-size: 22px;
      display: block;
      text-align: center;
      font-weight: bold;
    }
    &__main {
      width: 620px;
      padding-top: 20px;
      padding-left: 35px; 
      padding-bottom: 20px;
      display: block;
      &__user {
        &__title {
        padding-top: 10px;
        padding-bottom: 10px;
        }
      }
    }
  }
}

.edit-btn {
  display: block;
  margin-top: 20px;
  width: 250px;
  height: 50px;
  color: wheat;
  background-color: red;
  cursor: pointer;
}