.user {
  background-color: turquoise;;
  height: 100vh;
  .user-show {
    width: 600px;
    margin: 0 auto;
    background-color: skyblue;;
    padding: 40px;
    margin-top: 40px;
    &__list {
      padding-top: 10px;
      font-size: 20px;
      &__title {
        padding-bottom: 10px;
          &__data {
            margin-right: 5px;
          }
        }
        &__name {
          display: flex;
      }
    }
  }
}
