.signup-header
  .signup-header__wrapper
    %ul.signup-header__wrapper__list
      %li.signup-header__wrapper__list__step
        step1
        .signup-header__wrapper__list__step__icon-red
        .signup-header__wrapper__list__step__bar-red
      %li.signup-header__wrapper__list__step
        step2
        .signup-header__wrapper__list__step__icon-red
        .signup-header__wrapper__list__step__bar
      %li.signup-header__wrapper__list__step
        step3
        .signup-header__wrapper__list__step__icon
        .signup-header__wrapper__list__step__bar
      %li.signup-header__wrapper__list__step
        完了
        .signup-header__wrapper__list__step__icon